.overlay {
	display: none;
}

#container {
	width: 100%;
	height: inherit;
	max-height: 100%;
	perspective: 1000;
	-webkit-perspective: 1000;
	perspective-origin: 50% 680px;
	-webkit-perspective-origin: 50% 680px;
}

#stage {
	width: 100%;
	height: 100%;

	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;

	transition: transform 2s ease-in-out;
	-webkit-transition: transform 2s ease-in-out;
	-moz-transition: transform 2s ease-in-out;
	-ms-transition: transform 2s ease-in-out;
	-o-transition: transform 2s ease-in-out;
}

#shape {
	position: relative;
	top: 220px;
	margin: 0 auto;
	height: 170px;
	width: 170px;

	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.plane {
	position: absolute;
	height: 170px;
	width: 170px;
	border: 2px solid var(--white-color);
	transition: transform 2s ease-in-out, opacity 2s ease-in-out;
	-webkit-transition: transform 2s ease-in-out, opacity 2s ease-in-out;
	-moz-transition: transform 2s ease-in-out, opacity 2s ease-in-out;
	-ms-transition: transform 2s ease-in-out, opacity 2s ease-in-out;
	-o-transition: transform 2s ease-in-out, opacity 2s ease-in-out;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}

#shape.backfaces .plane {
	backface-visibility: visible;
	-webkit-backface-visibility: visible;
}


#shape {
	animation: spin 12s infinite linear;
	-webkit-animation: spin 12s infinite linear;
}

@keyframes spin {
	from {
		transform: rotateY(0);
		-webkit-transform: rotateY(0);
		-moz-transform: rotateY(0);
		-ms-transform: rotateY(0);
		-o-transform: rotateY(0);
	}

	to {
		transform: rotateY(360deg);
		-webkit-transform: rotateY(360deg);
		-moz-transform: rotateY(360deg);
		-ms-transform: rotateY(360deg);
		-o-transform: rotateY(360deg);
	}
}

.one {
	background-image: url(../img/couple/1.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.two {
	background-image: url(../img/couple/2.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.three {
	background-image: url(../img/couple/3.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.four {
	background-image: url(../img/couple/4.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.five {
	background-image: url(../img/couple/5.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.six {
	background-image: url(../img/couple/6.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.seven {
	background-image: url(../img/couple/7.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.eight {
	background-image: url(../img/couple/8.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.nine {
	background-image: url(../img/couple/9.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.ten {
	background-image: url(../img/couple/10.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.eleven {
	background-image: url(../img/couple/11.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.twelve {
	background-image: url(../img/couple/12.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

/* ----------------
	cube animation
	--------------- */

.cube>.one {
	opacity: 0.2;
	transform: scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(85px);
	-webkit-transform: scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(85px);
	-moz-transform: scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(85px);
	-ms-transform: scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(85px);
	-o-transform: scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(85px);
}

.cube>.two {
	opacity: 0.2;
	transform: scale3d(1.2, 1.2, 1.2) translateZ(85px);
	-webkit-transform: scale3d(1.2, 1.2, 1.2) translateZ(85px);
	-moz-transform: scale3d(1.2, 1.2, 1.2) translateZ(85px);
	-ms-transform: scale3d(1.2, 1.2, 1.2) translateZ(85px);
	-o-transform: scale3d(1.2, 1.2, 1.2) translateZ(85px);
}

.cube>.three {
	opacity: 0.2;
	transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(85px);
	-webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(85px);
	-moz-transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(85px);
	-ms-transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(85px);
	-o-transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(85px);
}

.cube>.four {
	opacity: 0.2;
	transform: scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(85px);
	-webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(85px);
	-moz-transform: scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(85px);
	-ms-transform: scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(85px);
	-o-transform: scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(85px);
}

.cube>.five {
	opacity: 0.2;
	transform: scale3d(1.2, 1.2, 1.2) rotateY(-90deg) translateZ(85px);
	-webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(-90deg) translateZ(85px);
	-moz-transform: scale3d(1.2, 1.2, 1.2) rotateY(-90deg) translateZ(85px);
	-ms-transform: scale3d(1.2, 1.2, 1.2) rotateY(-90deg) translateZ(85px);
	-o-transform: scale3d(1.2, 1.2, 1.2) rotateY(-90deg) translateZ(85px);
}

.cube>.six {
	opacity: 0.2;
	transform: scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(85px) rotate(180deg);
	-webkit-transform: scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(85px) rotate(180deg);
	-moz-transform: scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(85px) rotate(180deg);
	-ms-transform: scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(85px) rotate(180deg);
	-o-transform: scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(85px) rotate(180deg);
}

#shape:hover.cube>.one,
.autoLoad>.one {
	opacity: 0.9;
	transform: scale3d(1.3, 1.3, 1.3) rotateX(90deg) translateZ(110px);
	-webkit-transform: scale3d(1.3, 1.3, 1.3) rotateX(90deg) translateZ(110px);
	-moz-transform: scale3d(1.3, 1.3, 1.3) rotateX(90deg) translateZ(110px);
	-ms-transform: scale3d(1.3, 1.3, 1.3) rotateX(90deg) translateZ(110px);
	-o-transform: scale3d(1.3, 1.3, 1.3) rotateX(90deg) translateZ(110px);
}

#shape:hover.cube>.two,
.autoLoad>.two {
	opacity: 0.9;
	transform: scale3d(1.3, 1.3, 1.3) translateZ(130px);
	-webkit-transform: scale3d(1.3, 1.3, 1.3) translateZ(130px);
	-moz-transform: scale3d(1.3, 1.3, 1.3) translateZ(130px);
	-ms-transform: scale3d(1.3, 1.3, 1.3) translateZ(130px);
	-o-transform: scale3d(1.3, 1.3, 1.3) translateZ(130px);
}

#shape:hover.cube>.three,
.autoLoad>.three {
	opacity: 0.9;
	transform: scale3d(1.3, 1.3, 1.3) rotateY(90deg) translateZ(130px);
	-webkit-transform: scale3d(1.3, 1.3, 1.3) rotateY(90deg) translateZ(130px);
	-moz-transform: scale3d(1.3, 1.3, 1.3) rotateY(90deg) translateZ(130px);
	-ms-transform: scale3d(1.3, 1.3, 1.3) rotateY(90deg) translateZ(130px);
	-o-transform: scale3d(1.3, 1.3, 1.3) rotateY(90deg) translateZ(130px);
}

#shape:hover.cube>.four,
.autoLoad>.four {
	opacity: 0.9;
	transform: scale3d(1.3, 1.3, 1.3) rotateY(180deg) translateZ(130px);
	-webkit-transform: scale3d(1.3, 1.3, 1.3) rotateY(180deg) translateZ(130px);
	-moz-transform: scale3d(1.3, 1.3, 1.3) rotateY(180deg) translateZ(130px);
	-ms-transform: scale3d(1.3, 1.3, 1.3) rotateY(180deg) translateZ(130px);
	-o-transform: scale3d(1.3, 1.3, 1.3) rotateY(180deg) translateZ(130px);
}

#shape:hover.cube>.five,
.autoLoad>.five {
	opacity: 0.9;
	transform: scale3d(1.3, 1.3, 1.3) rotateY(-90deg) translateZ(130px);
	-webkit-transform: scale3d(1.3, 1.3, 1.3) rotateY(-90deg) translateZ(130px);
	-moz-transform: scale3d(1.3, 1.3, 1.3) rotateY(-90deg) translateZ(130px);
	-ms-transform: scale3d(1.3, 1.3, 1.3) rotateY(-90deg) translateZ(130px);
	-o-transform: scale3d(1.3, 1.3, 1.3) rotateY(-90deg) translateZ(130px);
}

#shape:hover.cube>.six,
.autoLoad>.six {
	opacity: 0.9;
	transform: scale3d(1.3, 1.3, 1.3) rotateX(-90deg) translateZ(110px) rotate(180deg);
	-webkit-transform: scale3d(1.3, 1.3, 1.3) rotateX(-90deg) translateZ(110px) rotate(180deg);
	-moz-transform: scale3d(1.3, 1.3, 1.3) rotateX(-90deg) translateZ(110px) rotate(180deg);
	-ms-transform: scale3d(1.3, 1.3, 1.3) rotateX(-90deg) translateZ(110px) rotate(180deg);
	-o-transform: scale3d(1.3, 1.3, 1.3) rotateX(-90deg) translateZ(110px) rotate(180deg);
}

.cube>.seven,
.autoLoad>.seven {
	transform: scale3d(0.8, 0.8, 0.8) rotateX(90deg) translateZ(85px) rotate(180deg);
	-webkit-transform: scale3d(0.8, 0.8, 0.8) rotateX(90deg) translateZ(85px) rotate(180deg);
	-moz-transform: scale3d(0.8, 0.8, 0.8) rotateX(90deg) translateZ(85px) rotate(180deg);
	-ms-transform: scale3d(0.8, 0.8, 0.8) rotateX(90deg) translateZ(85px) rotate(180deg);
	-o-transform: scale3d(0.8, 0.8, 0.8) rotateX(90deg) translateZ(85px) rotate(180deg);
}

.cube>.eight,
.autoLoad>.eight {
	transform: scale3d(0.8, 0.8, 0.8) translateZ(85px);
	-webkit-transform: scale3d(0.8, 0.8, 0.8) translateZ(85px);
	-moz-transform: scale3d(0.8, 0.8, 0.8) translateZ(85px);
	-ms-transform: scale3d(0.8, 0.8, 0.8) translateZ(85px);
	-o-transform: scale3d(0.8, 0.8, 0.8) translateZ(85px);
}

.cube>.nine,
.autoLoad>.nine {
	transform: scale3d(0.8, 0.8, 0.8) rotateY(90deg) translateZ(85px);
	-webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(90deg) translateZ(85px);
	-moz-transform: scale3d(0.8, 0.8, 0.8) rotateY(90deg) translateZ(85px);
	-ms-transform: scale3d(0.8, 0.8, 0.8) rotateY(90deg) translateZ(85px);
	-o-transform: scale3d(0.8, 0.8, 0.8) rotateY(90deg) translateZ(85px);
}

.cube>.ten,
.autoLoad>.ten {
	transform: scale3d(0.8, 0.8, 0.8) rotateY(180deg) translateZ(85px);
	-webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(180deg) translateZ(85px);
	-moz-transform: scale3d(0.8, 0.8, 0.8) rotateY(180deg) translateZ(85px);
	-ms-transform: scale3d(0.8, 0.8, 0.8) rotateY(180deg) translateZ(85px);
	-o-transform: scale3d(0.8, 0.8, 0.8) rotateY(180deg) translateZ(85px);
}

.cube>.eleven,
.autoLoad>.eleven {
	transform: scale3d(0.8, 0.8, 0.8) rotateY(-90deg) translateZ(85px);
	-webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(-90deg) translateZ(85px);
	-moz-transform: scale3d(0.8, 0.8, 0.8) rotateY(-90deg) translateZ(85px);
	-ms-transform: scale3d(0.8, 0.8, 0.8) rotateY(-90deg) translateZ(85px);
	-o-transform: scale3d(0.8, 0.8, 0.8) rotateY(-90deg) translateZ(85px);
}

.cube>.twelve,
.autoLoad>.twelve {
	transform: scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateZ(85px);
	-webkit-transform: scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateZ(85px);
	-moz-transform: scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateZ(85px);
	-ms-transform: scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateZ(85px);
	-o-transform: scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateZ(85px);
}

/* -----------------
	animation around 
-------------------*/

.ring>.one {
	transform: translateZ(350px);
	-webkit-transform: translateZ(350px);
	-moz-transform: translateZ(350px);
	-ms-transform: translateZ(350px);
	-o-transform: translateZ(350px);
}

.ring>.two {
	transform: rotateY(30deg) translateZ(350px);
	-webkit-transform: rotateY(30deg) translateZ(350px);
	-moz-transform: rotateY(30deg) translateZ(350px);
	-ms-transform: rotateY(30deg) translateZ(350px);
	-o-transform: rotateY(30deg) translateZ(350px);
}

.ring>.three {
	transform: rotateY(60deg) translateZ(350px);
	-webkit-transform: rotateY(60deg) translateZ(350px);
	-moz-transform: rotateY(60deg) translateZ(350px);
	-ms-transform: rotateY(60deg) translateZ(350px);
	-o-transform: rotateY(60deg) translateZ(350px);
}

.ring>.four {
	transform: rotateY(90deg) translateZ(350px);
	-webkit-transform: rotateY(90deg) translateZ(350px);
	-moz-transform: rotateY(90deg) translateZ(350px);
	-ms-transform: rotateY(90deg) translateZ(350px);
	-o-transform: rotateY(90deg) translateZ(350px);
}

.ring>.five {
	transform: rotateY(120deg) translateZ(350px);
	-webkit-transform: rotateY(120deg) translateZ(350px);
	-moz-transform: rotateY(120deg) translateZ(350px);
	-ms-transform: rotateY(120deg) translateZ(350px);
	-o-transform: rotateY(120deg) translateZ(350px);
}

.ring>.six {
	transform: rotateY(150deg) translateZ(350px);
	-webkit-transform: rotateY(150deg) translateZ(350px);
	-moz-transform: rotateY(150deg) translateZ(350px);
	-ms-transform: rotateY(150deg) translateZ(350px);
	-o-transform: rotateY(150deg) translateZ(350px);
}

.ring>.seven {
	transform: rotateY(180deg) translateZ(350px);
	-webkit-transform: rotateY(180deg) translateZ(350px);
	-moz-transform: rotateY(180deg) translateZ(350px);
	-ms-transform: rotateY(180deg) translateZ(350px);
	-o-transform: rotateY(180deg) translateZ(350px);
}

.ring>.eight {
	transform: rotateY(210deg) translateZ(350px);
	-webkit-transform: rotateY(210deg) translateZ(350px);
	-moz-transform: rotateY(210deg) translateZ(350px);
	-ms-transform: rotateY(210deg) translateZ(350px);
	-o-transform: rotateY(210deg) translateZ(350px);
}

.ring>.nine {
	transform: rotateY(-120deg) translateZ(350px);
	-webkit-transform: rotateY(-120deg) translateZ(350px);
	-moz-transform: rotateY(-120deg) translateZ(350px);
	-ms-transform: rotateY(-120deg) translateZ(350px);
	-o-transform: rotateY(-120deg) translateZ(350px);
}

.ring>.ten {
	transform: rotateY(-90deg) translateZ(350px);
	-webkit-transform: rotateY(-90deg) translateZ(350px);
	-moz-transform: rotateY(-90deg) translateZ(350px);
	-ms-transform: rotateY(-90deg) translateZ(350px);
	-o-transform: rotateY(-90deg) translateZ(350px);
}

.ring>.eleven {
	transform: rotateY(300deg) translateZ(350px);
	-webkit-transform: rotateY(300deg) translateZ(350px);
	-moz-transform: rotateY(300deg) translateZ(350px);
	-ms-transform: rotateY(300deg) translateZ(350px);
	-o-transform: rotateY(300deg) translateZ(350px);
}

.ring>.twelve {
	transform: rotateY(330deg) translateZ(350px);
	-webkit-transform: rotateY(330deg) translateZ(350px);
	-moz-transform: rotateY(330deg) translateZ(350px);
	-ms-transform: rotateY(330deg) translateZ(350px);
	-o-transform: rotateY(330deg) translateZ(350px);
}

/* ---------
	audio
	-------- */
.audio {
	position: relative;
	z-index: 1;
	bottom: 15%;
}